:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

nz-content {
  margin: 8px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.logo {
  height: 32px
}

.ant-layout-header{
  padding: 0 20px;
}

nz-header {
  background-color: white;
}

.nav-right {
  float: right;
}
